<!-- 	<div class="container">
		<table>
		{% for tweet in tweets %}
			<tr>
				<td>
					<img src="{{ tweet.author.avatar(64) }}" alt="">
				</td>
				<td>
					<div><a href="{{ url_for('profile', username=tweet.author.username)}}"><b>{{ tweet.author.username }}</b></a></div>
					<div>{{ tweet.create_time }}</div>
					<div>{{ tweet.body }}</div>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div> -->


<div class="row mb-2 justify-content-md-center">
<div class="col-md-6">
<table class="table table-hover align-middle mb-0 bg-white">

<!--   <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Title</th>
    </tr>
  </thead> -->
  <tbody>
  	{% for tweet in tweets %}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="{{ tweet.author.avatar(64) }}"
              alt=""
              class="rounded-circle"
              />
          <div class="ms-3">
            <!-- <p class="fw-bold mb-1">John Doe</p> -->
            <a href="{{ url_for('profile', username=tweet.author.username)}}"><b>{{ tweet.author.username }}</b></a>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-light fs-6">{{ tweet.create_time.strftime('%Y-%m-%d %H:%M:%S') }}

        {% if tweet.author==current_user %}
        <a href="/delete/{{ tweet.id }}" class="text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-trash" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg>
        </a>
        {% endif %}
        </p>

        <p class="fw-normal mb-1">{{ tweet.body }}</p>

        <a href="#" class="text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
        </svg>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

